
test.go
test.py
test.r
line_plot.png
output.csv
line_plot_test.png
test.csv
lineplot.png
bar_with_colors.html
bar_basic.html
bar_basic.png
bar_with_colors.png
output_pie_chart_datalist.html
.DS_Store
/.insyra_py_env
*.lp
lingo.txt
*.csv
/.insyra_py25a
/local
/cmd
/insyra_py25b
.insyra_env/