# Govulncheck for push and pull_request, fails the steps if vulnerabilities are found

name: Govulncheck on Push/PR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  vulnerability-scan:
    runs-on: ubuntu-latest
    name: Run Govulncheck
    steps:
    - uses: golang/govulncheck-action@v1
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-package: ./...
        go-version-file: go.mod
